//
//  Project-Dev.xcconfig
//  SSPostmark
//
//  Created by Skylar Schipper on 12/28/16.
//  Copyright © 2016 Skylar Schipper. All rights reserved.
//

#include "Project-Base.xcconfig"

////////////////////

ONLY_ACTIVE_ARCH = YES

////////////////////

DEBUG_INFORMATION_FORMAT = dwarf
VALIDATE_PRODUCT = NO
ENABLE_TESTABILITY = YES

////////////////////

GCC_OPTIMIZATION_LEVEL = 0

////////////////////

ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

//////////////////////

SWIFT_OPTIMIZATION_LEVEL = -Onone

//////////////////////

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG

//////////////////////

MTL_ENABLE_DEBUG_INFO = YES
