<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-name</key>
	<string>SSPostmark</string>
	<key>--output</key>
	<string>../Documentation</string>
	<key>--company-id</key>
	<string>co.schipp</string>
	<key>--ignore</key>
	<array>
		<string>.m</string>
		<string>Vendor</string>
	</array>
	<key>--project-company</key>
	<string>Skylar Schipper</string>
	<key>--no-create-docset</key>
	<true/>
</dict>
</plist>
